[submodule "Submodules/zsh-history-substring-search"]
	path = Submodules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "Submodules/zsh-autosuggestions"]
	path = Submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "Submodules/zsh-completions"]
	path = Submodules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "Submodules/fast-syntax-highlighting"]
	path = Submodules/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "Submodules/powerlevel10k"]
	path = Submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "Submodules/fzf"]
	path = Submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "Submodules/zsh-autopair"]
	path = Submodules/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "Submodules/gdb-dashboard"]
	path = Submodules/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
