export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export INPUT_METHOD=fcitx
export SDL_IM_MODULE=fcitx

export SSH_ASKPASS=/usr/bin/ksshaskpass

export GTK_USE_PORTAL=1

# fix vscode delete freeze
export ELECTRON_TRASH=gio

export MOZ_DISABLE_RDD_SANDBOX=1
export MOZ_X11_EGL=1

export LIBVA_DRIVER_NAME=nvidia

eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK
