export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export INPUT_METHOD=fcitx
export SDL_IM_MODULE=fcitx

export SSH_ASKPASS=/usr/bin/ksshaskpass

export GTK_USE_PORTAL=1

# fix vscode delete freeze
export ELECTRON_TRASH=gio
