/*
debug: GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

headerbar {
  height: 10px;
  padding: 0;
  margin: 0;
}

headerbar button { 
  margin: 0;
  min-height: 10px;
}

headerbar button image { 
  padding: 0; 
  margin: 0;
}

tabbox {
  font-family: monospace;
  margin: 0;
  padding: 0;
  min-height: 10px;
}

tabbox tab {
  margin: 0;
  padding: 0;
  min-height: 10px;
}

tabbox tab label { 
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-height: 10px;
}

tabboxchild, tabbox tab, tabbox button {
  border-radius: 0;
}
